.headerContainer {
    background: #877B66;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  padding: 20px 0;
}

.headerContainer h2 {
    color: white;
    padding-left: 6px;
}

.headerContainer ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.headerContainer ul li {
    list-style: none;
    padding-right: 15px;
}

.headerContainer ul li a {
    color: white;
    text-decoration: none;
}
.headerContainer ul li a:hover {
    color: red;
    font-size: 1.1rem;
}